body {
  background-color: #dad7cd;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}

#box {
  box-sizing: border-box;
  background-color: #a3b18a;
  width: 90%;
  border: 3px solid #3a5a40;
  text-align: center;
  margin: auto;
}

h1 {
  color: #344e41;
  background-color: #588157;
  margin: 30px;
  font-size: 90px;
  padding-bottom: 14px;
}

li {
  list-style: inside;
  list-style-type: circle;
  font-size: 25px;
}

li a {
  text-decoration: none;
}

li :hover {
  color: #588157;
}
